### Math Functions

In [1]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('../../data/blockbusters.csv')

In [28]:
df_films = df.copy(deep=True)
df_films.head(3)

,Main_Genre,Genre_2,Genre_3,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross,year
0,Action,Adventure,Drama,7.4,135,1,PG-13,Walt Disney Pictures,Black Panther,"$700,059,566",2018
1,Action,Adventure,Sci-Fi,8.5,156,2,PG-13,Walt Disney Pictures,Avengers: Infinity War,"$678,815,482",2018
2,Animation,Action,Adventure,7.8,118,3,PG,Pixar,Incredibles 2,"$608,581,744",2018

In [29]:
df_films.convert_dtypes().dtypes

Main_Genre          string
Genre_2             string
Genre_3             string
imdb_rating        Float64
length               Int64
rank_in_year         Int64
rating              string
studio              string
title               string
worldwide_gross     string
year                 Int64
dtype: object

In [30]:
df_films['year'] = pd.to_datetime(df_films['year'])
df_films.dtypes

Main_Genre                 object
Genre_2                    object
Genre_3                    object
imdb_rating               float64
length                      int64
rank_in_year                int64
rating                     object
studio                     object
title                      object
worldwide_gross            object
year               datetime64[ns]
dtype: object

In [35]:
df_films['imdb_rating'] * 5 / 10

0      3.70
1      4.25
2      3.90
3      3.10
4      3.90
       ...
432    3.55
433    3.20
434    3.10
435    3.00
436    3.20
Name: imdb_rating, Length: 437, dtype: float64

In [37]:
df_films['length'].sub(df_films['imdb_rating'], fill_value=0)

0      127.6
1      147.5
2      110.2
3      122.8
4      111.2
       ...
432    105.9
433    129.6
434     93.8
435     82.0
436     96.6
Length: 437, dtype: float64